.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//font-size

.fontSize14 {
  font-size: 14px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize28 {
  font-size: 28px;
}

.fontSize32 {
  font-size: 32px;
}

.fontSize48 {
  font-size: 48px;
}

//font-size
